<h1>This is the home page for our app</h1>

<p>
  we are super excited to have this page available via github team workflow

  <button type="button" name="button">Click this for a Good time</button>
</p>
